Package: kmod-ath9k
Version: 3.10.49+2014-05-22-1
Depends: kernel (=3.10.49-1-b1a00910c098264922981ce6098d0e40), kmod-ath9k-common
Source: package/kernel/mac80211
Section: kernel
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ar71xx
Installed-Size: 55523
Description:  This module adds support for wireless adapters based on
 Atheros IEEE 802.11n AR5008 and AR9001 family of chipsets.
