Package: kmod-mac80211
Version: 3.10.49+2014-05-22-1
Depends: kernel (=3.10.49-1-b1a00910c098264922981ce6098d0e40), kmod-crypto-core, kmod-crypto-arc4, kmod-crypto-aes, kmod-cfg80211, hostapd-common
Source: package/kernel/mac80211
Section: kernel
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ar71xx
Installed-Size: 202554
Description:  Generic IEEE 802.11 Networking Stack (mac80211)
