Package: kmod-cfg80211
Version: 3.10.49+2014-05-22-1
Depends: kernel (=3.10.49-1-b1a00910c098264922981ce6098d0e40), iw
Source: package/kernel/mac80211
Section: kernel
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ar71xx
Installed-Size: 111346
Description:  cfg80211 is the Linux wireless LAN (802.11) configuration API.
